@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: #0D0D0D;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
